.main_c{
    max-width: 1200px;
}

header{
    height: 40vh;
}


.contact_price{
    margin: 3rem 0;
    display: grid;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.068); 


}

#contact_title{
    font-size: clamp(3rem, 5vw, 7rem);
}


.contact_data{
    max-width: 100%;

}

.map_container{
    width: 60vw;
    margin: 2rem auto 5rem auto;
    border-bottom: #99775C solid 4px;
}

.subtitle{
    margin-bottom: 0.5rem;
}

#location{
    border-top: #99775C solid 4px;
    text-align: center;
    margin-top: 7vw;
    margin-bottom: 0;
}
#location_article{
    margin: auto auto;
    text-align: center;
}

@media (max-width: 768px) {
    .map_container {
        width: 90vw; /* Increase width on mobile */
        margin: 2rem auto; /* Reduce margin for better spacing */
    }
}

@media screen and (min-width: 810px) {
.contact_price{
    grid-template-columns: 2fr 2fr;
    margin-left: 10vw;
    margin-right: 10vw;

}


.contact_data{
    border-left: 4px solid #99775C;
    
}
}